
<!doctype html>
<html lang="en">
<head>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Explorations in Myanmar and global history">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Myanmar | The most interesting three festivals in Myanmar</title>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-110078078-1', 'auto');
    ga('set', 'anonymizeIp', true);    ga('send', 'pageview');
</script>
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="https://lostfootsteps.org/themes/history-data-material-lite/assets/images/android-desktop.png">

<!-- Twitter Card data -->
<meta name="twitter:card" value="The most interesting three festivals in Myanmar">

<!-- Open Graph data -->
<meta property="og:title" content="Independence and Civil War (1945-1951)" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://lostfootsteps.org/en/history/category/independence-and-civil-war-1945-1951" />
  <meta property="og:image" content="../static/taungyi/taungyi (1).jpg" />
<meta property="og:description" content="Explorations in Myanmar and global history" />

<!-- FB Comment Moderation -->
<meta property="fb:app_id" content="1499127650168513" />
<meta property="fb:admins" content="1012736446"/>
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Material Design Lite">
<link rel="apple-touch-icon-precomposed" href="https://lostfootsteps.org/themes/history-data-material-lite/assets/images/ios-desktop.png">

<link rel="shortcut icon" href="https://lostfootsteps.org/themes/history-data-material-lite/assets/images/favicon.png">

<link href="https://fonts.googleapis.com/css?family=Oswald:300|Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://lostfootsteps.org/combine/c153df9afa18816f74c0fb6218ca3f38-1528273564">
<div id="fb-root"></div>
</head>
<body class="lang_en">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
          Myanmar
        </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    
    <div class="locale-picker mdl-layout--large-screen-only">
        <a href="indexenglish.html">English</a>
        <a href="#">Myanmar</a>
  </div>

<div class="mobile-locale-picker mdl-layout--small-screen-only">
  <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-right">
              <li class="mdl-menu__item">
          <a href="indexenglish.html">English</a>
        </li>
              <li class="mdl-menu__item">
          <a href="#">Myanmar</a>
        </li>
        </ul>
</div>    
  </div>
</header>

<!-- Drawer Menu -->
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Myanmar</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ url_for('indexenglish') }}">Home</a>
    <a class="mdl-navigation__link" href="{{ url_for('fimage') }}">Taungyi Festival</a>
    <a class="mdl-navigation__link" href="simage.html">Thadingyut Festival</a>
    <a class="mdl-navigation__link" href="{{ url_for('timage') }}">Thingyan Festival</a>
    <div class="drawer-separator"></div>
        <a class="mdl-navigation__link" href="https://lostfootsteps.org/my/history/category/independence-and-civil-war-1945-1951">မြန်မာဘာသာဖြင့် ကြည့်ရှုရန်</a>
      </nav>
</div>      
      <main class="mdl-layout__content">

        
<div class="category_header" style="background: url('../static/thadingyut/tha (12).jpg') center / cover">
  <h1 class="center_title">Thadingyut Festival</h1>
  <p class="center_contents"></p> 
</div>
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="../static/thadingyut/tha (4).jpg">
          <span class="card-title">Thadingyut Festival</span>
        </div>
        <div class="card-content">
          <p>Although Thadingyut Festival is held all across Myanmar, the Kyaikhtiyo Thadingyut Festival is the most famous of all among the locals. People light candles during the festival as a way to welcome the Lord Buddha back from the heavens, where he is believed to preach to his reborn mother, before returning to earth. On the day of the full moon of Thadingyut, locals offer 9,000 candles and flowers to the pagoda. Burmese children also love this festival because it’s when elderly people give them pocket money when they visit the home of their elders to give thanks. This tradition also reflects the filial piety nature of Burmese people.  </p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('thadingyutparagraph') }}">Read more</a>
        </div>
      </div>
    </div>
  </div>


 

        
      </main>
      <footer class="mdl-mini-footer">
    <p>© CU(MDY) Internship 2018</p>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1499127650168513";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>  
    </div>

    <script src="https://lostfootsteps.org/combine/4c826b703c93afcb656a186fdb11e29b-1509079245"></script>
          <script type="text/javascript" src="../static/js/materialize.min.js"></script>

    
</body>
</html>
