<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<img src="../static/taungyi/taungyi (5).jpg" style="width: 700px; height: 500px;">
<p>The Taunngyi Fire Balloon Festival, which takes place in the culturally diverse capital of Shan State over several days every November. This celebration is held around the Full Moon of Tazaungmon, a Myanmar national holiday that marks the end of rainy season and is also known as the Tazaungdaing Festival of Lights.

Although the releasing of balloons is nominally an offering to the heavens to ward away evil spirits, and the national holiday is rooted in Buddhist and Hindu cosomology (it is also celebrated in Thailand, where it is known as Loi Krathong), the tradition of hot air balloon competition in Taunggyi was actually begun by the British in the late 19th century.

Today you will find a spectacle that would no doubt have had its colonial originators reeling in shock. An exceptionally loud and vibrant event, it does in fact bear some similarities to today’s western music festivals: firstly, there is plenty of loud music – but there are also ferris wheels (albeit powered by young men, rather than fuel or electricity); energy drink sponsors (though just local brands – no Red Bull, yet); and plenteous beer and food served in temporary stalls, dance stages and bars until the early hours of the morning (till as late as 6am).
However, the balloons themselves mark the Taunggyi festival out as something distinct. Home made by a number of teams who are entered into the competition, they are of course the focal point for the entire event. The fun begins every day in the early afternoon; during the daylight hours the huge balloons are created in the shapes of animals, including anything from birds to elephants. If you are here with a young family or prefer a more sedate pace, this is the time to come to the festival, for it is in the evening that things get altogether more edgy – and spectacular.

After darkness falls, the balloons are released roughly between every half and hour, and come in two categories – ones that are beautifully lit up and ascend serenely into the sky, and ones laden with thousands of fireworks. The latter balloons reach an altitude of several hundred metres, after which the fireworks burst into an extraordinary, multicoloured shower – which lasts up to 15 minutes.
At least, that is the theory. All too often, there is a malfunction and either the fireworks set off too early, firing into the crowd, or the balloon itself explodes, falling to the ground in a ball of fire. Sadly, over the years this has sometimes led to injuries and even occasional deaths; to be safe, it is essential to maintain a good distance from the balloons.

If you take sufficient care, however, you will enjoy a unique and visceral experience which stands alongside the best of Myanmar’s many wonderful festivals – and where you will have the chance to immerse yourself in local culture and see few other foreigners.
We can arrange a tour of Myanmar that includes the Taunggyi balloon festival, or other festivals. To get in touch with one of travel advisors, go here. </p>
</body>
</html>