<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<img src="../static/thadingyut/tha (8).jpg" style="width: 700px; height: 500px;">
</body>
<p>Eery year in Myanmar the Thadingyut Festival is celebrated by locals with enthusiasm.   Thadingyut is a Buddhist celebration of the end of the Buddhist period of Lent and is held during the Full Moon of the Thadingyut month which is typically in October.  Buddhists in Myanmar visit the pagodas bringing food and gifts for the monks in honor of Buddha’s descent from Heaven. This is also a time when the younger generation pays homage to their elders.

The opportunity to experience this festival is truly unique and memorable. Throughout the country, people gather for three days of celebrations to mark this religious holiday. There are light shows, music, stage-shows on the streets and plenty of delicious food to be eaten. The holiday is celebrated in different ways throughout the country.  For example, in Yangon, the famous Shwedagon Pagoda is illuminated by thousands of twinkling lights and candles and it is truly an awe-inspiring sight to behold. This is the place to go and experience the festival if you are in Yangon. You can walk amongst the hundreds of stalls selling food, clothing and other traditional Burmese goods while interacting with friendly locals who will be thrilled with your participation!

Thadingyut Festival - Shwe Dagon Pagoda
Thadingyut Festival – Shwe Dagon Pagoda

Thadingyut Festival is the second largest in Myanmar. It is a very important celebration in Myanmar and a bit more low-key than Thingyan, the water festival celebrating the Buddhist New Years when people take to the streets and douse each other in water! Visiting Myanmar during the Thadingyut Festival is a great opportunity to immerse yourself in Burmese culture and understand how it has been influenced by Buddhism and the role it plays in modern day Myanmar.

This year, the Thadingyut Festival will be held around the 14-16th of October.  The dates may fluctuate depending the exact day of the full moon, so it is best to check with us as the time draws nearer to your trip.   </p>
</html>