<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<img src="../static/thingyan/thagyan (6).jpg">

<p style="font-size: 20px;">The beginning of the hot season in April is celebrated with the mammoth Thingyan (“changing over”) water festival (April 13–16). Myanmar’s biggest party, Thingyan celebrates the Burmese New Year, traditionally held on the full moon day of the lunar month of Tagu (although dates are now fixed according to the Western calendar). The festival goes on for three or four days, the length of the celebration determined by ponna or Brahman astrologers. Water is poured from buckets, sprayed from water pistols and hoses, and even blasted from fire hydrants to wash away the old year and welcome the new. The drenching stops each day at 6.30pm, and is followed by an evening of feasting and partying. For the duration of the festival, government buildings and businesses are closed and pretty much the entire country shuts down.

Pandals – pavilions or stages made from bamboo and beautifully decorated with flowers and papier mâché – are erected in which lines of garlanded girls dressed in identical suits of colourful material perform carefully rehearsed song and dance routines while boys douse them with water. More overtly suggestive versions spring up in the liberal, upper-class neighbourhoods of Yangon, where hot pants, crop tops and Western-style dancing replace the traditional elegance. </p></body>
</html>