
<!doctype html>
<html lang="en">
<head>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Explorations in Myanmar and global history">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Myanmar | The most interesting three festivals in Myanmar</title>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-110078078-1', 'auto');
    ga('set', 'anonymizeIp', true);    ga('send', 'pageview');
</script>
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="https://lostfootsteps.org/themes/history-data-material-lite/assets/images/android-desktop.png">

<!-- Twitter Card data -->
<meta name="twitter:card" value="The most interesting three festivals in Myanmar">

<!-- Open Graph data -->
<meta property="og:title" content="Independence and Civil War (1945-1951)" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://lostfootsteps.org/en/history/category/independence-and-civil-war-1945-1951" />
  <meta property="og:image" content="../static/taungyi/taungyi (1).jpg" />
<meta property="og:description" content="Explorations in Myanmar and global history" />

<!-- FB Comment Moderation -->
<meta property="fb:app_id" content="1499127650168513" />
<meta property="fb:admins" content="1012736446"/>
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Material Design Lite">
<link rel="apple-touch-icon-precomposed" href="https://lostfootsteps.org/themes/history-data-material-lite/assets/images/ios-desktop.png">

<link rel="shortcut icon" href="https://lostfootsteps.org/themes/history-data-material-lite/assets/images/favicon.png">

<link href="https://fonts.googleapis.com/css?family=Oswald:300|Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://lostfootsteps.org/combine/c153df9afa18816f74c0fb6218ca3f38-1528273564">
<div id="fb-root"></div>
</head>
<body class="lang_en">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
          Myanmar
        </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    
    <div class="locale-picker mdl-layout--large-screen-only">
        <a href="indexenglish.html">English</a>
        <a href="#">Myanmar</a>
  </div>

<div class="mobile-locale-picker mdl-layout--small-screen-only">
  <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-right">
              <li class="mdl-menu__item">
          <a href="indexenglish.html">English</a>
        </li>
              <li class="mdl-menu__item">
          <a href="#">Myanmar</a>
        </li>
        </ul>
</div>    
  </div>
</header>

<!-- Drawer Menu -->
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Myanmar</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ url_for('indexenglish') }}">Home</a>
    <a class="mdl-navigation__link" href="url_for('fimage') }}">Taungyi Festival</a>
    <a class="mdl-navigation__link" href="url_for('simage') }}">Thadingyut Festival</a>
    <a class="mdl-navigation__link" href="timage.html">Thingyan Festival</a>
    <div class="drawer-separator"></div>
        <a class="mdl-navigation__link" href="https://lostfootsteps.org/my/history/category/independence-and-civil-war-1945-1951">မြန်မာဘာသာဖြင့် ကြည့်ရှုရန်</a>
      </nav>
</div>      
      <main class="mdl-layout__content">

        
<div class="category_header" style="background: url('../static/thingyan/thagyan (3).jpg') center / cover">
  <h1 class="center_title">Thingyan Festival</h1>
  <p class="center_contents"></p> 
</div>
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="../static/thingyan/thagyan (6).jpg">
          <span class="card-title">Thingyan Festival</span>
        </div>
        <div class="card-content">
          <p>The beginning of the hot season in April is celebrated with the mammoth Thingyan (“changing over”) water festival (April 13–16). Myanmar’s biggest party, Thingyan celebrates the Burmese New Year, traditionally held on the full moon day of the lunar month of Tagu (although dates are now fixed according to the Western calendar). The festival goes on for three or four days, the length of the celebration determined by ponna or Brahman astrologers. Water is poured from buckets, sprayed from water pistols and hoses, and even blasted from fire hydrants to wash away the old year and welcome the new. The drenching stops each day at 6.30pm, and is followed by an evening of feasting and partying. For the duration of the festival, government buildings and businesses are closed and pretty much the entire country shuts down.

Pandals – pavilions or stages made from bamboo and beautifully decorated with flowers and papier mâché – are erected in which lines of garlanded girls dressed in identical suits of colourful material perform carefully rehearsed song and dance routines while boys douse them with water. More overtly suggestive versions spring up in the liberal, upper-class neighbourhoods of Yangon, where hot pants, crop tops and Western-style dancing replace the traditional elegance.   </p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('thingyanparagraph') }}">Read more</a>
        </div>
      </div>
    </div>
  </div>


 

        
      </main>
      <footer class="mdl-mini-footer">
    <p>© CU(MDY) Internship 2018</p>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1499127650168513";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>  
    </div>

    <script src="https://lostfootsteps.org/combine/4c826b703c93afcb656a186fdb11e29b-1509079245"></script>
          <script type="text/javascript" src="../static/js/materialize.min.js"></script>

    
</body>
</html>
